<h1> Hello, chitter is happy to see you! </h1>

<p> Please sign up </p>

<form action="/users" method="post">
  <label for="firstname">
    Your Name: <input type="text" name="firstname">
  </label>
  <label for="username">
    Username: <input type="text" name="username" >
  </label>
  <label for="email">
    Email: <input type="text" name="email">
  </label>
  <label for="password">
    Password: <input type="text" name="password">
  </label>
  <label for="password_confirmation">
      Password Confirmation: <input type="text" name="password_confirmation">
  </label>
    <input type="submit" value="Sign Up">
</form>
