<!DOCTYPE html>
<html>
  <head>
    <title>Chitter Messenger</title>
  </head>

  <body>
    <% if current_user %>
    <h1> Hello <%= @current_user.email %>, chitter is happy to see you!</h1>
    <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
    Please refer to the following errors below:
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

    <%= yield %>
  </body>
</html>
